.image-limit img {
  max-width: 50px;
  max-height: 50px;
}

.file-upload {
  display: none;
}

.fill {
  min-height: 100vh;
  height: 100vh;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

.center-cropped img {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.center-sm-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 60px;
  width: 60px;
}

.center-sm-cropped img {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ankaCropper.dark {
  background: #0f1114;
  color: #eee;
}

.ankaCropper.dark .ankaCropper__droparea {
  border: 2px dashed #3e424b;
}

.ankaCropper.dark .ankaCropper__saveButton,
.ankaCropper.dark .ankaCropper__selectButton {
  background: #334f90;
  color: #fff;
}

.ankaCropper.dark .ankaCropper__saveButton:hover,
.ankaCropper.dark .ankaCropper__selectButton:hover {
  background: #335dbe;
}

.ankaCropper.dark .ankaCropper__navigation {
  background: #1d2227;
}

.ankaCropper.dark .ankaCropper__navButton {
  background: #272c31;
}

.ankaCropper.dark .ankaCropper__navButton svg {
  stroke: #eee;
}

.ankaCropper.dark .ankaCropper__navButton:hover {
  background: #000;
}
